/*----------comp_nvabar_browser----------*/

#comp_nvabar{
  display: flex;
  flex-direction: row; //主軸方向 水平
  justify-content: flex-start; //主軸對齊 flex-start | flex-end | center | space-between | space-around;      
  background-color: transparent; // #b3b300;
  width: 100%;
  @include mobile{
    display:none;
  }
}

.nva_btn{
  padding: 8px 10px;
  cursor: pointer;
  user-select: none;
  background-color: #0033cc;
  color: white;

  &:hover{
    background-color: #ff9900;
    text-decoration: underline; //有底線
  }

  .icon_a{
    width: 16px; height: 16px;
    filter: invert(99%) sepia(91%) saturate(0%) hue-rotate(113deg) brightness(113%) contrast(101%); //圖示顏色
  }
}
