/*----------comp_nvabar_browser----------*/

#comp_nvabar{
  display: flex;
  flex-direction: row; //主軸方向 水平
  justify-content: flex-start; //主軸對齊 flex-start | flex-end | center | space-between | space-around;      
  background-color: #b3b300;
  width: 100%;
  @include mobile{
    display:none;
  }
}

.nva_btn{
  position: relative;
  padding: 5px 10px;
  min-width:60px;
  
  .icon_a{
    width: 16px; height: 16px;
    filter: invert(99%) sepia(91%) saturate(0%) hue-rotate(113deg) brightness(113%) contrast(101%); //圖示顏色
  }

  a{  //a tag 感應區 布滿父容器 z往上提
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 30px;
    padding-top: 0.3em;
    width:100%;
    height: 100%;
    z-index: 5;
    text-decoration: none; //無底線

    &:hover{
      text-decoration: underline; //有底線
    }
  }
}