/*----------layout1----------*/

.layout1{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

#layout1_1{
  background-color: #f2e6ff;
}
#layout1_2{
  background-color: #F1EFB5;
}
#layout1_3{
  background-color: #D5A8FF;
}
#layout1_4{
  background-color: #BFFCC7;
}
#layout1_5{
  background-color: red;
}