/*----------layout4----------*/

.layout4{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  }

#layout4_selecter{
  background-color: yellow;
  
}
#layout4_about{
  background-color: #ccccff;
}  