/*----------layout3----------*/
#layout3_sider{
  background-color: #d0e1e1;

  @include mobile{
    width:0px;
    display:none;
  }

  #comp_sider{
    background-color: #006699;
    width:300px;

    @include mobile{
      width:0px;
      display:none;
    }    
  }
}

#layout3a_main{
  background-color: #ff9999;
  width: calc(#{$main_width} - 300px);

  @include mobile{
    width: 100%;
  }

  #layout3b_top{
    position: relative;
  }
  
  #layout3b_middle{
    position: relative;
  }  
}


