/*----------layout3----------*/

#layout3_userbar{
  position: absolute;
  display: flex;
  flex-direction: row; //主軸方向 水平
  justify-content: flex-end; //主軸對齊 flex-start | flex-end | center | space-between | space-around; 
  background-color: transparent;
  top:0;
  width:100%;

  @include mobile{
    display:none;
  }

  #comp_userbar_browser{
    background-color: #99cc00;
    min-width: 450px;
  }
}


#layout3_sider{
  background-color: #d0e1e1;

  @include mobile{
    width:0px;
    display:none;
  }

  #comp_sider{
    background-color: #006699;
    width:300px;

    @include mobile{
      width:0px;
      display:none;
    }    
  }
}



#layout3_main{
  background-color: #ff9999;
  width: calc(#{$main_width} - 300px);

  @include mobile{
    width: 100%;
  }
}


