$main_width: 950px;
$mobile_bottombar_height: 80px;
$browser_sidebar_top: 250px;
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$color_body: #D7D7D7;

// mobile
$mobile_width: 650px;

$theme-colors: (
  'someColor': #000,
  'anotherColor': #FFF,
);

