body {
  background-color: #D7D7D7;
}

#layout0a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #DDFCF7;
  min-height: 600px;
}

#layout0a #layout0b {
  background-color: #F7D586;
}
