/*----------root----------*/
:root {
  --data-mobile_width: 650px;
  --data-zindex_layout1: 300;
  --data-zindex_mobile_bottombar: 380;
}

/*----------layout0 & body----------*/
body {
  margin: 0;
  background-color: #D7D7D7;
}

#layout0a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #DDFCF7;
  min-height: 600px;
}

#layout0a #layout0b {
  position: absolute;
  background-color: #F7D586;
  width: 950px;
  min-height: 100%;
}

@media (max-width: 650px) {
  #layout0a #layout0b {
    width: 100%;
  }
}

/*----------layout1----------*/
.layout1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

#layout1_1 {
  background-color: #f2e6ff;
}

#layout1_2 {
  background-color: #F1EFB5;
}

#layout1_3 {
  background-color: #D5A8FF;
}

#layout1_4 {
  background-color: #BFFCC7;
}

#layout1_5 {
  background-color: red;
}

/*----------layout2----------*/
#layout2_header {
  background-color: #ffbf00;
  min-height: 100px;
}

@media (max-width: 650px) {
  #layout2_header {
    display: none;
  }
}

#layout2_center {
  background-color: #ccffcc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 150px;
}

#layout2_footer {
  background-color: #4d4d4d;
  min-height: 100px;
}

@media (max-width: 650px) {
  #layout2_footer {
    display: none;
  }
}

/*----------layout3----------*/
#layout3_sider {
  background-color: #d0e1e1;
}

@media (max-width: 650px) {
  #layout3_sider {
    width: 0px;
    display: none;
  }
}

#layout3_sider #comp_sider {
  background-color: #006699;
  width: 300px;
}

@media (max-width: 650px) {
  #layout3_sider #comp_sider {
    width: 0px;
    display: none;
  }
}

#layout3a_main {
  background-color: #ff9999;
  width: calc(950px - 300px);
}

@media (max-width: 650px) {
  #layout3a_main {
    width: 100%;
  }
}

#layout3a_main #layout3b_top {
  position: relative;
}

#layout3a_main #layout3b_middle {
  position: relative;
}

/*----------layout4----------*/
.layout4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

#layout4_home {
  background-color: #b3daff;
}

#layout4_selecter {
  background-color: yellow;
}

#layout4_about {
  background-color: #ccccff;
}

#layout4_product {
  background-color: #339966;
}

/*----------userbar_browser----------*/
#layout_userbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: transparent;
  top: 0;
  width: 100%;
}

@media (max-width: 650px) {
  #layout_userbar {
    display: none;
  }
}

#layout_userbar #comp_userbar_browser {
  background-color: #99cc00;
  min-width: 450px;
}

/*----------sidetoolbar_browser----------*/
#layout_sidetoolbar_browser {
  position: fixed;
  right: 0;
  top: 0;
  background-color: transparent;
  height: 100%;
}

@media (max-width: 650px) {
  #layout_sidetoolbar_browser {
    display: none;
  }
}

#layout_sidetoolbar_browser #comp_sidetoolbar_browser {
  background-color: #53ff1a;
  width: 36px;
  height: 120px;
  margin-top: 250px;
}

/*----------comp_nvabar_browser----------*/
#comp_nvabar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  width: 100%;
}

@media (max-width: 650px) {
  #comp_nvabar {
    display: none;
  }
}

.nva_btn {
  padding: 8px 10px;
  cursor: pointer;
  user-select: none;
  background-color: #0033cc;
  color: white;
}

.nva_btn:hover {
  background-color: #ff9900;
  text-decoration: underline;
}

.nva_btn .icon_a {
  width: 16px;
  height: 16px;
  filter: invert(99%) sepia(91%) saturate(0%) hue-rotate(113deg) brightness(113%) contrast(101%);
}

/*----------bottombar_mobile----------*/
#comp_bottombar_mobile {
  display: none;
  position: fixed;
  z-index: 380;
  background-color: #178A7D;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

@media (max-width: 650px) {
  #comp_bottombar_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

#comp_bottombar_mobile .btnm {
  background-color: #53ff1a;
  cursor: pointer;
  user-select: none;
  width: 25%;
  margin: 2px;
}

/*----------flymenu_mobile----------*/
#comp_flymenu_mobile {
  display: none;
  position: fixed;
  z-index: 380;
  background-color: #ff0066;
  left: 0;
  top: 0;
  width: 300px;
  height: calc(100% - 80px);
}

@media (max-width: 650px) {
  #comp_flymenu_mobile {
    display: block;
    left: -300px;
  }
}

#comp_flymenu_mask {
  display: none;
  position: fixed;
  background-color: Black;
  opacity: 0.6;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 379;
  animation-name: maskin;
  animation-duration: 1s;
}

.menu_visible {
  visibility: visible;
  left: 0px;
}

.menu_flyin {
  animation: flyin 0.3s ease-out;
}

.menu_flyout {
  animation: flyout 0.4s ease-in;
}

@keyframes flyin {
  from {
    left: -300px;
  }
  to {
    left: 0px;
  }
}

@keyframes flyout {
  from {
    left: 0px;
  }
  to {
    left: -300px;
  }
}

@keyframes maskin {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes maskout {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}
